doctype
html
  head
    title Explore Poster
    meta(charset="UTF-8")
    meta(name="description" content="Explore poster by Pretty Common")
    meta(name="keywords" content="poster,explore,adventure")
    
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    
    link(rel="stylesheet" href="/main.css")
  body
    != yield

    script(async src="https://www.trycelery.com/js/celery.js")
