section.half.app
  .poster-preview
section.half.copy
  nav
    .inner
      a.link.nav-link(href="./") Back
  main
    header.credits
      h1 Posters At Cost.
      p We're not making any profit on this.
      p Sales are going at cost of print and cost of shipping.
      p We will pass all savings on to you.
