section.half.app
  .poster-preview
section.half.copy
  nav
    .inner
      a.link.nav-link(href="/about") About
      span.nav-link <a class="link nav-link" href="https://twitter.com/twnsndco">Cole Townsend</a> & <a class="link nav-link" href="https://twitter.com/nhbschr">Noah Buscher</a>
  main
    header
      h1 You can't afford not to.
      p Buy this poster at cost + shipping. 13x19, heavyweight paper. The more pre-orders, the less you pay. We won't charge you a dime more.
      a.button(data-celery="56e78f545e98541100f2a05a") Preorder this poster
